@charset "utf-8";
@import '@/scss/utils';

/* Common */

@font-face {
    font-family: 'UhBeeJJIBBABBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeJJIBBABBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}

body,
input,
textarea,
select,
button,
table {
    font-family: UhBeeJJIBBABBA, $default-font-family;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.5px;
}

body {
    overflow: hidden;
    position: relative;
    -webkit-text-size-adjust: none;
    background-color: #fff6d3;
    background-image: linear-gradient(#f5d27d 2px, transparent 2px),
        linear-gradient(90deg, #f5d27d 2px, transparent 2px);
    background-size:
        20px 20px,
        20px 20px;
    background-position:
        -1px -1px,
        -1px -1px;
}

img,
fieldset {
    border: 0;
}

ul,
ol {
    list-style: none;
}

em,
address {
    font-style: normal;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

mark {
    background: transparent;
}

html,
head,
body,
#root {
    height: 100%;
}

svg,
img {
    vertical-align: top;
}

#u_skip,
.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.input-hidden {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
