{
	"parser": "@typescript-eslint/parser",
	"extends": [
        "prettier",
		"airbnb",
		"airbnb/hooks",
        "plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
	],
	"env": {
		"browser": true,
		"jest": true
	},
	"parserOptions": {
		"allowImportExportEverywhere": true,
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"settings": {
		"import/resolver": {
			"node": {
				"moduleDirectory": ["node_modules", "src"]
			}
		},
		"react": {
			"createClass": "createReactClass",
			"pragma": "React",
			"version": "detect"
		}
	},
	"rules": {
		"react/react-in-jsx-scope": "off",
	}
}
