{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "parser": "typescript",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSpacing": false,
  "arrowParens": "always", 
  "jsxBracketSameLine": true,
  "trailingComma": "all"
}