@charset "utf-8";

//해상도
$breakpoint-mobileS: 250px;
$breakpoint-mobile: 360px;
$breakpoint-tablet: 600px;
$breakpoint-desktopS: 1152px;
$breakpoint-desktopM: 1440px;
$content-max-width: 1080px;
$content-min-width-desktop: 375px;
$content-max-width-desktop: 681px;
$content-max-width-mobile: 568px;
$header-height: 56px;
$header-max-width: 1080px;

//색상표
$point-red-color: #ff5252;
$ui-green-color: #09aa5c;
$ui-black-color: #1e1e23;
$naver-green-color: #00c73c;

//폰트 굵기
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-ultrabold: 900;

$default-font-family:
    -apple-system,
    BlinkMacSystemFont,
    helvetica,
    Apple SD Gothic Neo,
    '나눔고딕',
    NanumGothic,
    sans-serif;
