@import '@/scss/utils';

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1;
    border-top: 1px solid #373737;

    @include mediaQuery('tablet', 'min') {
        border-width: 2px;
    }
}
