@import '@/scss/utils';

.article {
    // height: 100%;
    .box {
        aspect-ratio: auto 1080/1420;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        border: 1px solid #373737;

        @include mediaQuery('tablet', 'min') {
            border-width: 2px;
        }
    }
}
