@import '@/scss/utils';

.article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    padding: 0 $content-x-padding;

    @include mediaQuery('mobile', 'max') {
        width: initial;
        padding: 0 $content-x-padding-mobile;
    }
}
