@import '@/scss/utils';

.article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 $content-x-padding-mobile;

    @include mediaQuery('tablet', 'min') {
        padding: 0 $content-x-padding;
    }
}
