@use '@/scss/utils';

.article {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 48px 40px 70px;
    max-width: 930px;
    height: 100vh;
    box-sizing: border-box;

}
:global(.mobile) .article {
    padding: 35px 26px 35px;
    width: auto;
}
