@import '@/scss/utils';

.article {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 35px 0 40px;
    max-width: $content-max-width;
    height: 100%;
    box-sizing: border-box;

    @include mediaQuery('mobile', 'max') {
        padding: 25px 0;
        width: auto;
    }
}
