@import '@/scss/utils';

.article {
    display: flex;
    align-items: center;
    height: 42px;
    margin: 0 auto;
    padding: 0 $content-x-padding-mobile;

    .item {
        height: 100%;

        &.logo {
            height: initial;
            padding: 0 10px;
            font-size: 25px;
        }
    }

    .img {
        height: 100%;
        width: auto;
    }

    @include mediaQuery('tablet', 'min') {
        padding: 0 $content-x-padding;
    }
}
