@import '@/scss/utils/';

.article {
    flex: 1;
    overflow-y: auto;
    margin-top: 50px;
    border: 1px solid #e9edf2;
    border-radius: 10px;
    background-color: #fff;
    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 30px 14px;
        box-sizing: border-box;
    }
    .title {
        padding: 22px 30px;
        border-bottom: 1px solid #e9edf2;
        font-size: 20px;
        font-weight: 800;
        line-height: 26px;
        color: #303236;
    }
}
:global(.mobile) .article {
    margin-top: 15px;

    .title {
        padding: 16px 14px 15px;
        font-size: 18px;
    }
    .inner {
        &.popup {
            padding: 5px 15px;
        }
    }
}
