@import '@/scss/utils/';

.article {
    overflow: hidden;
    position: relative;
    margin: 15px 0;
    padding: 0 $content-x-padding-mobile;

    @include mediaQuery('tablet', 'min') {
        margin: 20px 0 27px 0;
        padding: 0 $content-x-padding;
    }

    .note_area {
        position: relative;
    }

    .hole_area {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 0;
        width: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(23%);

        @include mediaQuery('mobile', 'min') {
            width: 25px;
        }

        .hole {
            position: relative;
            width: 100%;
            padding-top: 100%;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 50%;

            //ring
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 250%;
                height: 50%;
                margin: auto;
                left: -200%;
                background: #eee;
                border-radius: 30px;
            }
        }
    }

    .page {
        position: relative;
        aspect-ratio: 3/4;
        border-radius: 10px;
        background-color: #fff;
        box-shadow:
            0 0 0 1px #e3e5e8,
            0 1px 2px 0 rgba(0, 0, 0, 0.04);
    }

    .content_area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 100%;
        padding: 14px 14px 14px 37px;
        box-sizing: border-box;

        @include mediaQuery('mobile', 'min') {
            padding-left: 42px;
        }
    }
}
