@import '@/scss/utils/';

.article {
    flex: 1;
    margin: 50px 0;
    border-radius: 10px;
    background-color: #fff;
    .notePad {
        position: relative;
        height: 100%;
        .hole_area {
            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 10px;
            width: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .hole {
                position: relative;
                width: 25px;
                height: 25px;
                background: rgba(0, 0, 0, 0.2);
                border-radius: 50%;
            }

            .ring {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 150%;
                height: 50%;
                margin: auto;
                left: -100%;
                background: #eee;
                border-radius: 30%;
            }
        }
    }
    .content_area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 14px 14px 14px 42px;
        box-sizing: border-box;
    }
}
:global(.mobile) .article {
    margin: 20px 0;
}
