@import '@/scss/utils';

.article {
    overflow-y: auto;
    width: 100%;
    height: 100%;

    .image_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .item {
        width: 260px;
        height: 260px;
        padding: 10px;
        box-sizing: border-box;
    }

    .img {
        width: 100%;
        height: auto;
        background: beige;
    }

    @include mediaQuery('mobile', 'max') {
        .image_list {
            flex-direction: column;
        }

        .item {
            width: 100%;
            height: auto;
        }
    }
}
