@import '@/scss/utils';

.article {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    :global {
        .flicking-viewport {
            width: 100%;
            height: 100%;
        }
    }
    .save_area {
        display: block;
        width: 100%;
        height: 100%;
        .img {
            object-fit: cover;
            max-width: 100%;
            height: auto;
        }
    }

    .image_scroll {
        display: block;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        font-size: 0;
        .item {
            display: inline-block;
            vertical-align: top;
        }
        .img {
            object-fit: cover;
            max-width: 100%;
            height: auto;
        }
    }

    .nav {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        bottom: 20px;
        left: 0;
        z-index: 3000;

        .dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);

            + .dot {
                margin-left: 4px;
            }

            &.is_active {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    .image_list {
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, auto));
        gap: 20px;

        .pic {
            aspect-ratio: 560/392;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid rgba(0, 0, 0, 0.27);
            box-sizing: border-box;
        }

        .img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
        }

        @include mediaQuery('tablet', 'max') {
            grid-template-columns: 1fr;

            .item {
                width: 100%;
                height: auto;
            }

            .pic {
                aspect-ratio: initial;
            }
        }
    }
}
