@import '@/scss/utils';

.article {
    position: relative;
    width: 100%;
    height: 100%;

    .textarea {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        background: transparent;
        font-size: 14px;
        line-height: 28px;
        z-index: 2;
        resize: none;
        outline: none;
        border: none;
        color: #000;
        background-attachment: local;
        background-image: linear-gradient(rgba(#d34e3c, 0.4) 2px, transparent 2px);
        background-size: 28px 28px;
        background-position: -5px -35px;
    }
}
