@import '@/scss/utils/';

.article {
    margin: 89px 7px;
    text-align: center;
}
.notice {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    word-break: keep-all;
    color: #d3d8de;
}
