.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image_are {
    }
    .text_area {
        padding-top: 8px;
        font-family: 'UhBeeJJIBBABBA';
        font-size: 16px;
        line-height: 32px;
    }
}
