@import '@/scss/utils/';

.article {
    border: 1px solid #e9edf2;
    border-radius: 10px;
    background-color: #fff;
    + .article {
        margin-top: 10px;
    }
    .title {
        padding: 22px 30px;
        border-bottom: 1px solid #e9edf2;
        font-size: 20px;
        font-weight: 800;
        line-height: 26px;
        color: #303236;
    }
    .inner {
        padding: 30px;
        &.popup {
            padding: 5px 30px;
        }
    }
}
:global(.mobile) .article {
    .title {
        padding: 16px 14px 15px;
        font-size: 18px;
    }
    .inner {
        padding: 30px 14px;
        &.popup {
            padding: 5px 15px;
        }
    }
}
